@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import "tailwindcss";*/
/*@plugin "@tailwindcss/typography";*/

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    box-sizing: border-box;
    @apply text-black-500;
}

body {
    @apply bg-white ;
}

h1 {
    @apply text-7xl lg:text-5xl md:!text-3xl;
}

h2 {
    @apply font-normal text-5xl text-blue-500 lg:text-4xl md:text-3xl;
}


h3 {
    @apply text-blue-500 text-5xl mb-8 lg:text-4xl md:!text-3xl;
}

ul {
    @apply list-disc list-outside pl-6;
}

p {
    @apply text-lg leading-6 text-black-500;
}


h4 {
    @apply text-blue-700 text-2xl mb-8;
}


.container {
    @apply mx-auto max-w-[1374px] w-[90%];
}

.reveal-on-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal-on-scroll.is-visible {
    opacity: 1;
    transform: translateY(0);
}

section {
    position: relative;
}
